<h1 class="mt-5">Agregar producto</h1>
<hr>


<form [formGroup] = "miFormulario">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label class="col-form-label">Nombre: </label>
        </div>
        <div class="col-auto">
            <input class="form-control" formControlName = "nombre">
        </div>

        <div class="col-auto">
            <span error-msg
                  [mensaje] = "mensaje"
                  [color] = "color"
                  [valido] = "!tieneError('nombre')">
            </span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-2">
             <button class="btn btn-primary"
                     (click) = "cambiarNombre()">Guardar</button>
        </div>
        <div class="col-3">
             <button class="btn btn-primary"
                     (click) = "cambiarColor()">
                     Cambiar Color</button>
        </div>
    </div>

</form>


<h3 class="mt-5">
    Formulario
</h3>

<pre>value: {{ miFormulario.value | json }}</pre>
<pre>valid: {{ miFormulario.valid }}</pre>


<div *customIf="miFormulario.valid" class="row">
    <div class="col">
        <div class="alert alert-primary">
            Todo ok!
        </div>
    </div>
</div>